body {
  background-color: #f8f9fa;
  overflow-x: hidden;
}


.american {

  max-width: 100%; 
  overflow-x: hidden; 
  height: 100vh;
  background-image: url('media/awhiskey.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-position: center;
}

.irish {

  max-width: 100%; 
  overflow-x: hidden; 
  height: 100vh;
  background-image: url('media/iwhiskey.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-position: center;
}

.scotch {

  max-width: 100%; 
  overflow-x: hidden; 
  height: 100vh;
  background-image: url('media/swhiskey.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-position: center;
}

.japanese {

  max-width: 100%; 
  overflow-x: hidden; 
  height: 100vh;
  background-image: url('media/japanese.jpg') ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-position: center;
}


.callout-container {
  max-width: 100% !important; 
  overflow-x: hidden; 
  height: 100vh;
  width:100vw !important;
  background: url('/static/style/media/sour.jpg') no-repeat bottom right fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


.jumbotron {
  
  background-color: transparent;
  color: whitesmoke;
  font-weight: bold; 
  text-align: center; 
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.jumbotron-header {
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.jumbotron small {
  font-size: 60%;
  font-style: italic;
  color: #d0d0d0;
}



.quote-container {
  max-width: 100%; 
  overflow-wrap: break-word;
  padding: 20px;
}


.features-container {
  max-width: 100%;
  overflow-wrap: break-word; 
  padding: 20px;
}


.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  color: orange;
  margin: 20px auto; 
}


@media (max-width: 576px) {
  .jumbotron {
    padding: 30px; 
  }
}