{% load static %}

<div class="callout-container homejumbo ">

  <div class="row">
    <div class="col-12">
      <section class="callout jumbotron text-center {% if whiskey_type %}{{ whiskey_type|lower }}{% endif %}" style="width: 100%; margin-left: 0; margin-right: 0;">
        <h1 class="jumbotron-header">The finest whiskey delivered to your doorstep.</h1>
        <hr class="block-divider">
        <p class="lead">Sign up today to start receiving the world's best whiskeys every month.
          <span class="d-inline d-sm-none"><br></span>
          <strong><mark>The first one is free!</mark></strong>
        </p>
        <p class="text-muted">
          <small>You must be over 18 to sign up for our service. Please drink responsibly</small>
        </p>
      </section>
    </div>
  </div>
</div>
