{% extends "base.html" %}

{% block content %}

  {% include 'homejumbo.html' %}

  <div class="quote-container" style="text-align: center; padding: 20px;>
    <!-- quotes -->
    <div class="row">
      <section class="quotes">
        <div class="row">
          <div class="col-12 my-5">
            <h2 class="text-uppercase">Quotes:</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="media">
              <div class="d-none d-sm-block">
                <img src="static/style/media/mimi.jpg" class="rounded-circle mr-3" height="100" width="100"> 
              </div>
              <div class="media-body" style="text-align: left;>
                <blockquote class="blockquote">
                  <p>"I've been introduced to more than 10 great international whiskeys I never knew about"</p>
                  <p>-Tue Qute</p>
                </blockquote>  
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media">
              <div class="d-none d-sm-block">
                <img src="static/style/media/sun.jpg" class="rounded-circle mr-3" height="100" width="100"> 
              </div>
              <div class="media-body">
                <blockquote class="blockquote">
                  <p>"That's tasty."</p>
                  <p>-Moe Love</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="features-container" style="text-align: center; padding: 20px;>
    <!-- features -->
    <div class="row">
      <section class="features">
        <div class="row">
          <div class="col-12 my-5">
            <h2 class="text-uppercase">Features:</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="feature">
              <h3><i class="fa-solid fa-upload d-none d-sm-block"></i> Recipe Share</h3>
              <p>Share your favorite recipes with the community. Upload and showcase your culinary creations.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="feature">
              <h3><i class="fa-solid fa-user d-none d-sm-block"></i> Personalized Profiles</h3>
              <p>Personalize your profile and manage your uploaded recipes. Edit and delete recipes as you like.</p>
            </div>
          </div>
          <div class="col-12 d-md-none d-lg-block col-lg-4">
            <div class="feature">
              <h3><i class="fa-solid fa-book d-none d-sm-block"></i> Whiskey Articles</h3>
              <p>Read articles to discover different kinds of whiskey from around the world.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}
