{% load static %}

<header>
    <nav class="navbar navbar-light bg-light navbar-expand-sm">
        <a href="/" class="navbar-brand">Famous Whiskey Drop</a>

        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-lable="Toggle-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item mr-2"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item mr-2"><a class="nav-link" href="{% url 'recipes' %}">Recipes</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Whiskeys</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'iwhiskey' %}">Irish</a>
                        <a class="dropdown-item" href="{% url 'swhiskey' %}">Scotch</a>
                        <a class="dropdown-item" href="{% url 'jwhiskey' %}#">Japanese</a>
                        <a class="dropdown-item" href="{% url 'awhiskey' %}">American</a>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item mr-2"><a class="nav-link" href="{% url 'profile' user.pk %}">My Profile</a></li>
                    <li class="nav-item mr-2"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li class="nav-item mr-2 d-block d-sm-none"><a class="nav-link" href="{% url 'login' %}">Sign In/Sign Up</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="d-none d-md-block">
            <p class="navbar-text my-auto mr-2"><i>Great whiskey sours delivered to your door.</i></p>
            {% if user.is_authenticated %}
                <a class="active nav-item mr-2" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="active nav-item mr-2" href="{% url 'login' %}">Log In/Sign Up</a>
            {% endif %}
        </div>
    </nav>
</header>