{% extends "base.html" %}
{% load static %}

{% block title %}Profile - {{ profile.user.username }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% if profile.image %}{{ profile.image.url }}{% else %}{% static 'path/to/default/image.jpg' %}{% endif %}" class="card-img-top" alt="{{ profile.user.username }}'s Profile Image">
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text"><strong>Joined:</strong> {{ profile.user.date_joined|date:'d M Y' }}</p>
                    {% if profile.bio %}
                        <p class="card-text">{{ profile.bio|safe }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h2 class="mb-4">My Recipes</h2>
            {% for recipe in user_recipes %}
                <div class="card mb-3">
                    <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.title }}</h5>
                        <p class="card-text">{{ recipe.ingredients }}</p>
                        <p class="card-text">{{ recipe.content }}</p>
                        <p class="card-text"><small class="text-muted">{{ recipe.posted_date }}</small></p>
                        {% if request.user == recipe.author %}
                            <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_recipe' recipe.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if request.user == profile.user %}
        <div class="mt-4">
            <a href="{% url 'add_recipe' %}" class="btn btn-success">Add Recipe</a>
            <a href="{% url 'editprofile' profile.user.pk %}" class="btn btn-primary">Edit Profile</a>
        </div>
    {% endif %}
</div>
{% endblock %}