{% extends "base.html" %}
{% load static %}

{% block title %}Profile - {{ profile.user.username }}{% endblock %}

{% block content %}
<div class="container p-4">
    <div class="profile">
        <div class="info">
            <h1>{{ profile.user.username }}</h1>
            <p><strong>Joined: </strong>{{ profile.user.date_joined|date:'d M Y' }}</p>
            <p><strong>Recipes: </strong>{{ profile.user.recipe_owner.count }}</p>
            {% if profile.bio is not none %}
                {{ profile.bio|safe }}
            {% endif %}
        </div>
        <div class="profile-recipes">
            <h2 class="text-center pb-4">Recipes</h2>
            {% for recipe in profile.user.recipe_owner.all %}
                <a href="{% url 'recipe_detail' recipe.id %}">
                    <h3>{{ recipe.title }}</h3>
                </a>
                {{ recipe.posted_date }}
                <hr>
            {% endfor %}
        </div>
    </div>

    {% if request.user == profile.user %}
        <!-- The Modal -->
        <div id="myModal" class="modal mt-5">
            <!-- Modal content -->
            <div class="modal-content container">
                <span class="close fs-1 pe-2">&times;</span>
                <form method="POST" action="{% url 'edit_profile' request.user.id %}" class="mb-2 p-2"
                    enctype="multipart/form-data">
                    <h2 class="text-center fs-4">Edit Profile</h2>
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ form.media }}
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary w-25">Edit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Add Recipe Link -->
        <a href="{% url 'add_recipe' %}" class="btn btn-success">Add Recipe</a>
    {% endif %}
</div>
{% endblock %}
